### Q1. Create a list of five integers and print it.

In [1]:
list = [10, 20, 30, 40, 50]
print(list)

[10, 20, 30, 40, 50]

### Q2. Write a program to find the length of a list.

In [2]:
list = [10, 20, 30, 40, 50]
print(len(list))

5

### Q3. Create a tuple with three elements and print the second item.

In [6]:
tuple = ('bmw', 'amit', 'cairo')
print(tuple[1])

amit

### Q4. Create a dictionary with 3 key-value pairs and print all keys.

In [12]:
dict = {'name': 1, 'age': 2, 'city': 3}
print(dict.keys())

dict_keys(['name', 'age', 'city'])

### Q5. Write a program to convert a list into a set.

In [14]:
list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3]

set = set(list)

print(set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Q6. Create a string and print its first and last characters.

In [15]:

string = "AMIT TRANING"
first = string[0]
last= string[-1]
print("First character:", first)
print("Last character:", last)

First character: A
Last character: G

### Q7. Take input from the user and print it.

In [69]:
ll= int(input("Please enter something: "))

print(ll)

TypeError: 'int' object is not callable

### Q8. Write a program to add two numbers entered by the user.

In [ ]:
num1 = int(input("Please enter num1:"))
num2 = int(input("Please enter num2:"))


sum = num1 + num2
print("the sum is ", sum)

TypeError: 'int' object is not callable

### Q9. Use `type()` function to check the data type of a variable.

In [28]:
x = 10
print(type(x))

<class 'int'>

### Q10. Create a boolean variable and print it.

In [30]:
is_true = False

print(is_true)

False

### Q11. Check if a number is positive, negative, or zero using `if` statement.

In [33]:
number = 6  
if number > 0:
    print("The number is positive.")
elif number < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

The number is positive.

### Q12. Write a program to check if a number is even or odd.

In [35]:
number = 117
if number % 2 == 0:
    print("The number is even.")
else:
    print("The number is odd.")

The number is odd.

### Q13. Write a program that prints your name 3 times using a `for` loop.

In [40]:

name = "anas" 
for _ in range(3):
    print(name)

anas
anas
anas

### Q14. Write a `for` loop that prints numbers from 1 to 10.

In [41]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

### Q15. Use a `for` loop to iterate over a list and print each element.

In [42]:
list = [1, 2, 3, 4, 5]

for element in list:
    print(element)

1
2
3
4
5

### Q16. Write a program to calculate the sum of numbers from 1 to 100.

In [ ]:
sum = 0

for i in range(1, 101):
    sum += i

print("The sum is ",sum)

The sum is  5050

### Q17. Write a `for` loop that prints only even numbers from 1 to 20.

In [45]:
for i in range(1, 21):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

### Q18. Write a `for` loop to print each character in a string.

In [ ]:
string = "amit"

for char in string:
    print(char)

a
m
i
t

### Q19. Use a `for` loop to print all values in a dictionary.

In [47]:
dict = {
    'name': 'anas',
    'age': 25,
    'city': 'cairo',

}

for value in dict.values():
    print(value)

anas
25
cairo

### Q20. Write a program that uses a `for` loop to find the factorial of a number.

In [48]:
number = 55  
factorial = 1

for i in range(1, number + 1):
    factorial *= i

print(f"The factorial of {number} is {factorial}")

The factorial of 55 is 12696403353658275925965100847566516959580321051449436762275840000000000000

### Q21. Create a list of your 5 favorite fruits.

In [49]:
list = ["apple","watermelon","banana","orange"]
print(list)

['apple', 'watermelon', 'banana', 'orange']

### Q22. Add a new fruit to your list of favorite fruits.

In [50]:
list.append("kiwi")
print(list)

['apple', 'watermelon', 'banana', 'orange', 'kiwi']

### Q23. Remove the second item from a list.

In [52]:
removed_fruit = list.pop(1)
print (list)

['apple', 'orange', 'kiwi']

### Q24. Sort a list of numbers in descending order.

In [53]:
numbers = [5, 2, 9, 1, 5, 6]

numbers.sort(reverse=True)

print("Sorted list using sort():", numbers)

Sorted list using sort(): [9, 6, 5, 5, 2, 1]

### Q25. Find the maximum and minimum values in a list.

In [54]:
numbers = [5, 2, 9, 1, 5, 6]

max = max(numbers)

min = min(numbers)

print("Maximum value:", max)
print("Minimum value:", min)

Maximum value: 9
Minimum value: 1

### Q26. Count how many times a value appears in a list.

In [58]:
numbers = [5, 2, 9, 1, 5, 6, 5, 3, 5]

count = 5

count = numbers.count(count)

print(f"The element {count} appears {count} times in the list.")

The element 4 appears 4 times in the list.

### Q27. Check if a specific value exists in a list.

In [59]:
numbers = [5, 2, 9, 1, 5, 6, 5, 3, 5]

value_to_check = 5

if value_to_check in numbers:
    print(f"The value {value_to_check} exists in the list.")
else:
    print(f"The value {value_to_check} does not exist in the list.")

The value 5 exists in the list.

### Q28. Reverse a list without using reverse() function.

In [60]:
numbers = [1, 2, 3, 4, 5]

reversed_numbers = []

for i in range(len(numbers) - 1, -1, -1):
    reversed_numbers.append(numbers[i])

print("Reversed list:", reversed_numbers)

Reversed list: [5, 4, 3, 2, 1]

### Q29. Make a copy of a list and modify the copy only.

In [61]:
original_list = [1, 2, 3, 4, 5]

copied_list = original_list.copy()

copied_list.append(6)
copied_list[0] = 10

print("Original list:", original_list)
print("Copied list:", copied_list)

Original list: [1, 2, 3, 4, 5]
Copied list: [10, 2, 3, 4, 5, 6]

### Q30. Use slicing to get the first 3 items of a list.

In [70]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

first_three_items = numbers[:3]

print("First three items:", first_three_items)

First three items: [1, 2, 3]

### Q31. Create a tuple with 4 elements and print its length.

In [71]:
tuple = (1, 2, 3, 4)

print( len(tuple))

4

### Q32. Access the last element of a tuple.

In [72]:
tuple = (1, 2, 3, 4)

last_element = tuple[-1]

print(last_element)

4

### Q33. Convert a tuple into a list.

In [ ]:
my_tuple = (1, 2, 3, 4)

my_list = list(my_tuple)

print("The converted list is:", my_list)

### Q34. Convert a list into a tuple.

In [ ]:
my_list = [1, 2, 3, 4]

my_tuple = tuple(my_list)

print("The converted tuple is:", my_tuple)

### Q35. Check if a value exists in a tuple.

In [80]:
my_tuple = (1, 2, 3, 4, 5)

value_to_check = 3

if value_to_check in my_tuple:
    print(f"The value {value_to_check} exists in the tuple.")
else:
    print(f"The value {value_to_check} does not exist in the tuple.")

The value 3 exists in the tuple.

### Q36. Concatenate two tuples.

In [81]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

concatenated_tuple = tuple1 + tuple2

print("The concatenated tuple is:", concatenated_tuple)

The concatenated tuple is: (1, 2, 3, 4, 5, 6)

### Q37. Repeat a tuple 3 times.

In [83]:
my_tuple = (1, 2, 3)

repeated_tuple = my_tuple * 3

print( repeated_tuple)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

### Q38. Find the index of an element in a tuple.

In [84]:
my_tuple = (1, 2, 3, 4, 5, 3)

value_to_find = 3

try:
    index = my_tuple.index(value_to_find)
    print(f"The index of the value {value_to_find} is: {index}")
except ValueError:
    print(f"The value {value_to_find} is not in the tuple.")

The index of the value 3 is: 2

### Q39. Use tuple unpacking to assign values to variables.

In [ ]:
my_tuple = (1, 2, 3)

a, b, c = my_tuple

print( a)
print( b)
print( c)

1
2
3

### Q40. Create a nested list and access an inner element.

In [86]:
nested_list = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

element_1 = nested_list[0][1]
print("Element at (0, 1):", element_1)

element_2 = nested_list[1][2]
print("Element at (1, 2):", element_2)

element_3 = nested_list[2][0]
print("Element at (2, 0):", element_3)

Element at (0, 1): 2
Element at (1, 2): 6
Element at (2, 0): 7

### Q41. Create a set of 5 unique colors.

In [87]:
colors = {"red", "blue", "green", "yellow", "purple"}

print( colors)

{'blue', 'green', 'yellow', 'red', 'purple'}

### Q42. Add a new color to the set.

In [89]:
colors = {"red", "blue", "green", "yellow", "purple"}


colors.add("orange")

print(colors)

{'blue', 'orange', 'green', 'yellow', 'red', 'purple'}

### Q43. Remove an item from the set using `remove()`.

In [90]:
my_set = {1, 2, 3, 4, 5}
my_set.remove(3)
print(my_set)

{1, 2, 4, 5}

### Q44. Use `discard()` to remove an item that may or may not exist.

In [91]:
my_set = {1, 2, 3, 4, 5}
my_set.discard(3)
print(my_set)  

my_set.discard(10)  
print(my_set)

{1, 2, 4, 5}
{1, 2, 4, 5}

### Q45. Create a set from a list with duplicate values.

In [ ]:
my_list = [1, 2, 2, 3, 4, 4, 5]
my_set = set(my_list)
print(my_set)

### Q46. Find the union of two sets.

In [93]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1.union(set2)

print(union_set)

{1, 2, 3, 4, 5}

### Q47. Find the intersection of two sets.

In [94]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

intersection_set = set1.intersection(set2)

print(intersection_set)

{3}

### Q48. Find the difference between two sets.

In [95]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

difference_set = set1.difference(set2)

print(difference_set)

{1, 2}

### Q49. Check if a set is a subset of another set.

In [96]:
set1 = {1, 2, 3}
set2 = {1, 2}

is_subset = set2.issubset(set1)

print(is_subset)

True

### Q50. Check if two sets are disjoint.

In [97]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}

are_disjoint = set1.isdisjoint(set2)

print(are_disjoint)

True

### Q51. Create a dictionary with 3 items: name, age, and city.

In [98]:
my_dict = {
    "name": "anas",
    "age": 30,
    "city": "cairo"
}

print(my_dict)

{'name': 'anas', 'age': 30, 'city': 'cairo'}

### Q52. Add a new key-value pair to the dictionary.

In [100]:
my_dict = {
    "name": "anas",
    "age": 30,
    "city": "cairo"
}

my_dict["email"] = "anas@example.com"
print(my_dict)

{'name': 'anas', 'age': 30, 'city': 'cairo', 'email': 'anas@example.com'}

### Q53. Update the value of an existing key in the dictionary.

In [101]:
my_dict = {
    "name": "anas",
    "age": 30,
    "city": "cairo"
}

my_dict["age"] = 31
print(my_dict)

{'name': 'anas', 'age': 31, 'city': 'cairo'}

### Q54. Remove a key from the dictionary using `pop()`.

In [102]:
my_dict = {
    "name": "anas",
    "age": 30,
    "city": "cairo"
}

removed_value = my_dict.pop("age")
print(my_dict)

{'name': 'anas', 'city': 'cairo'}

### Q55. Check if a key exists in the dictionary.

In [103]:
my_dict = {
    "name": "anas",
    "age": 30,
    "city": "cairo"
}

if "age" in my_dict:
    print("Key 'age' exists")
else:
    print("Key 'age' does not exist")

Key 'age' exists

### Q56. Loop through a dictionary and print all keys and values.

In [104]:
my_dict = {
    "name": "anas",
    "age": 30,
    "city": "cairo"
}

for key, value in my_dict.items():
    print(f"{key}: {value}")

name: anas
age: 30
city: cairo

### Q57. Get all keys from a dictionary using `keys()`.

In [105]:
my_dict = {
    "name": "anas",
    "age": 30,
    "city": "New York"
}

all_keys = my_dict.keys()
print(all_keys)

dict_keys(['name', 'age', 'city'])

### Q58. Get all values from a dictionary using `values()`.

In [106]:
my_dict = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

all_values = my_dict.values()
print(all_values)

dict_values(['Alice', 30, 'New York'])

### Q59. Get all key-value pairs using `items()`.

In [107]:
my_dict = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

all_items = my_dict.items()
print(all_items)

dict_items([('name', 'Alice'), ('age', 30), ('city', 'New York')])

### Q60. Create a dictionary from two lists: one for keys and one for values.

In [ ]:
keys = ["name", "age", "city"]
values = ["Alice", 30, "New York"]

my_dict = dict(zip(keys, values))
print(my_dict)